{
  "name": "{{{npmName}}}",
  "version": "{{{npmVersion}}}",
  "description": "Swagger Client for {{{npmName}}}",
  "author": "{{npmAuthor}}",{{#hasRepository}}
  "repository": {
    "type": "git",
    "url": "{{gitRepository}}"
  },{{/hasRepository}}
  "keywords": [
    "swagger-client"
  ],
  "license": "{{npmLicense}}",
  {{#useNgPackagr}}
  "scripts": {
    "build": "ng-packagr -p ng-package.json"
  },
  {{/useNgPackagr}}
  {{^useNgPackagr}}
  "main": "dist/index.js",
  "module": "dist/index.js",  
  "typings": "dist/index.d.ts",
  "scripts": {
    "build": "ngc",
    "postinstall": "npm run build"
  },
  {{/useNgPackagr}}
  "peerDependencies": {
    "@angular/core": "^{{ngVersion}}",{{^supportedNg8Version}}
    "@angular/http": "^{{ngVersion}}",{{/supportedNg8Version}}
    "@angular/common": "^{{ngVersion}}",
    "@angular/compiler": "^{{ngVersion}}",
    "core-js": "^3.3.1",
    "reflect-metadata": "^0.1.13",
    "rxjs": "{{#useRxJS6}}{{#supportedNgVersion}}~6.5.3{{/supportedNgVersion}}{{^supportedNgVersion}}^6.1.0{{/supportedNgVersion}}{{/useRxJS6}}{{^useRxJS6}}^5.4.0{{/useRxJS6}}",
    "zone.js": {{#supportedNg8Version}}"^0.9.1"{{/supportedNg8Version}}{{^supportedNg8Version}}"^0.7.6"{{/supportedNg8Version}}
  },
  "devDependencies": {
    "@angular/compiler-cli": "^{{ngVersion}}",
    "@angular/core": "^{{ngVersion}}",{{^supportedNg8Version}}
    "@angular/http": "^{{ngVersion}}",{{/supportedNg8Version}}
    "@angular/common": "^{{ngVersion}}",
    "@angular/compiler": "^{{ngVersion}}",
    "@angular/platform-browser": "^{{ngVersion}}",{{#useNgPackagr}}
    "ng-packagr": {{#useOldNgPackagr}}"^1.6.0"{{/useOldNgPackagr}}{{^useOldNgPackagr}}{{#supportedNg8Version}}"^5.6.1"{{/supportedNg8Version}}{{^supportedNg8Version}}{{#supportedNgVersion}}"5.3.0"{{/supportedNgVersion}}{{/supportedNg8Version}}{{^supportedNgVersion}}"^2.4.1"{{/supportedNgVersion}}{{/useOldNgPackagr}},{{/useNgPackagr}}
    "reflect-metadata": "^0.1.13",
    "rxjs": "{{#useRxJS6}}{{#supportedNg8Version}}~6.5.3{{/supportedNg8Version}}{{^supportedNg8Version}}{{#supportedNgVersion}}~6.3.3{{/supportedNgVersion}}{{/supportedNg8Version}}{{^supportedNgVersion}}^6.1.0{{/supportedNgVersion}}{{/useRxJS6}}{{^useRxJS6}}^5.4.0{{/useRxJS6}}",
    "zone.js": {{#supportedNg8Version}}"^0.9.1"{{/supportedNg8Version}}{{^supportedNg8Version}}"^0.7.6"{{/supportedNg8Version}},
    "typescript": "^3.5.3"{{#supportedNg8Version}},
    "core-js": "^3.3.1"{{/supportedNg8Version}}
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{{npmRepository}}}"
  }
{{/npmRepository}}
}
